.main-action{
    display: inline-flex;
    align-items: center;
    font-family: 'Fira Code';
    font-size: 20px;
    color:black;
    text-decoration: none;
    margin-right: 30px;
    font-weight: 900;
}

.main-action::before{
    content: '';
    margin: 10px;
    height: 10px;
    width: 10px;
    background-color: black;
}