.main-action{
    color:#A1B5BB;
    font-family: Inter;
    font-style: normal;
    margin-left: 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}

.main-action.-traço{
    text-decoration-line: underline;
}